/* -- Global -- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    
}
html {
    font-size: 62.5%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-size: 1.6rem;
    padding-bottom: 6rem;
    line-height: 1.625;
    font-family: 'Muli', sans-serif;
    background: #439FD9; /* old browsers */
    background: -webkit-linear-gradient(#439FD9,#85c4eb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#439FD9,#85c4eb);
    background-repeat: no-repeat;
    position: relative;
    
}
body::after {
    content: "";
    display: block;
    background: url(images/storm1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.container {
    margin: 0 auto;
    max-width: 80%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
.hidden {
    display: none !important;
}
/* Typography */
h1, h2, h3, h4 {
    line-height: 1;
}
h1 {
    font-size:2.6rem;
    font-family: 'Trade Winds', cursive;
    color: #fff;
}
h2 {
    font-size: 2.2rem;
    line-height: 1.6;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.6rem;
}

p {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    p {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.8rem;
    }
}
/* Colors */
.drkBlu {
    color: #23648C;
}
.ltBlu {
    color: #439FD9
}
.green {
    color: #218838;
}
.orange {
    color: #D94D1A;
}

/* Alerts */
.verdict  {
    padding: 0.5rem 1rem 0.8rem;
    margin-top: 1.5rem;
}
.correct {
    
    background-color: #d4ffddda;
    border: 1px solid #47aa5d;
}
.wrong {
    
    background-color: #f8ccbb;
    border: 1px solid #D94D1A;
}
/* Buttons */
button {
    background-color: #555;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    display: block;
    transition: background-color 0.1s linear;
    cursor: pointer;
}
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
button i {
    font-size: 1.5rem;
    vertical-align: 0.1rem;
}
button.primary {
    color: #ffffff;
    background-color: #218838;
    border: 1px solid #218838;
}
button.primary:focus, 
button.primary:hover {
    background-color: #28a745;
}
button.secondary {
    color: #ffffff;
    background-color: #D94D1A;
    border: 1px solid #D94D1A;
}
button.secondary:focus, 
button.secondary:hover {
    background-color: #fc6d39;
}
button[disabled].secondary:focus, 
button[disabled].secondary:hover {
    background-color: #D94D1A;
}
@media screen and (min-width: 768px) {
    button {
        width: 20rem;
    }
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}
/* -- Header --  */
header {
    padding: 4rem 2rem;
    text-align: center;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}

/* -- Main -- */
main {
    background-color: #ffffff;
    margin: 0 2rem;
    padding: 4rem 0;
    border-radius: 0.5rem;
    -moz-box-shadow:    0 3px 10px 6px #23648C;
    -webkit-box-shadow: 0 3px 10px 6px #23648C;
    box-shadow:         0 3px 10px 6px #23648C;
}
@media screen and (min-width: 768px) {
    main {
        max-width: 60rem;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {
    main {
        max-width: 80rem;
    }
}

/* Section.Live */
.live {
    margin-bottom: 2rem;
}
.live form label {
    display: block;
    margin: 2rem 0;
}
.focus  {
    border: 1px solid #ccc;
}
.live fieldset {
    border: 0;
}
.live h2 {
     margin-bottom: 2rem;
}
.live button {
    margin: 2rem auto;
}
.live .landing, 
.live .question, 
.live .results, 
.response, 
.js-submit {
    display: none;
}
.live .landing.current, 
.live .question.current, 
.live .results.current,
.response.current, 
.js-submit.current {
    display: block;
}

@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}

/* Section.Score */
.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}
.score p:first-child {
    order: 2;
}
.score p {
    margin-bottom: 0;
}
.score ul {
    order: 1;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.score ul li:before {
    content: " ";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 50%;

}
.score ul li.current:before {
    background: #23648C;

}
.score p:last-child {
    order: 3;
}
@media screen and (min-width: 768px) {
    .score {
        flex-wrap: nowrap;
        align-items: center;
    }
    .score p:first-child, .score ul {
        order: 0;
    }
    .score ul {
        max-width: 33.333%;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 992px) {
    
    
}
@media screen and (min-width: 1200px) {}


/* -- Section -- */
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}