/* -- Global -- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    background-color: #cccccc;
}
.container {
    margin: 0 auto;
    max-width: 80%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
/* Headings */
h1, h2, h3, h4 {
    line-height: 1;
}
h1 {
    font-size:3.2rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.2rem;
}
h4 {
    font-size: 1.8rem;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.8rem;
    }
}

/* Buttons */
button {
    background-color: #555;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 4rem;
}
@media screen and (min-width: 768px) {
    button {
        width: 20rem;
    }
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}
/* -- Header --  */
header {
    padding: 4rem 2rem;
    text-align: center;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}

/* -- Main -- */
main {
    background-color: #ffffff;
    margin: 0 2rem;
    padding: 2rem 0;
    border-radius: 0.5rem;
}
@media screen and (min-width: 768px) {
    main {
        max-width: 80rem;
    }
}
@media screen and (min-width: 992px) {
    main {
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
}

/* Section.Live */
.live {
    margin-bottom: 2rem;
    border-bottom: 2px solid #ccc;
}
.live fieldset {
    border: 0;
}
.live h2 {
     margin-bottom: 2rem;
}
.live form button {
    margin: 2rem auto;
}
.live .landing, 
.live .question, 
.live .results, 
.response, 
.js-submit {
    display: none;
}
.live .landing.current, 
.live .question.current, 
.live .results.current,
.response.current, 
.js-submit.current {
    display: block;
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}

/* Section.Score */
.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
}
.score p:first-child {
    order: 2;
}
.score ul {
    order: 1;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.score ul li:before {
    content: " ";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;

}
.score p:last-child {
    order: 3;
}
@media screen and (min-width: 768px) {
    .score {
        flex-wrap: nowrap;
        align-items: center;
    }
    .score p:first-child, .score ul {
        order: 0;
    }
    .score ul {
        max-width: 33.333%;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 992px) {
    
    
}
@media screen and (min-width: 1200px) {}


/* -- Section -- */
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}